<th:block th:fragment="first">
<header class="ms-hero-page  ms-hero-bg-warning ms-hero-img-team ms-bg-fixed">
        <div class="container">
          <div class="text-center">
            <p> <img src="assets/img/logo-w.png"/>.
              </p>
          </div>
          <div class="row mt-4">
          	<div class="col-md-4 col-sm-6">
              <div class="ms-icon-feature wow flipInX animation-delay-4">
                <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                    <i class="fa fa-keyboard-o"></i>
                  </span>
                </div>
                <div class="ms-icon-feature-content color-white">
                  <h4 class="color-info">Desenvolvimento distribuído</h4>
                  <p>Vantagens competitivas em termos de custos, qualidade, flexibilidade, ganhos na produtividade e diminuição de riscos.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="ms-icon-feature wow flipInX animation-delay-4">
                <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                    <i class="fa fa-cloud"></i>
                  </span>
                </div>
                <div class="ms-icon-feature-content color-white">
                  <h4 class="color-info">Cloud Computing</h4>
                  <p>Redução de custos com hardware e acesso a recursos de alta tecnologia por valores extremamente baixos.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="ms-icon-feature wow flipInX animation-delay-4">
                <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                    <i class="fa fa-ticket"></i>
                  </span>
                </div>
                <div class="ms-icon-feature-content color-white">
                  <h4 class="color-info">Gestão de processos e ticket</h4>
                  <p>Revolucione seu help desk com um controle de tickets e processos com uma ferramenta robusta, personalizavel e gratuita.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="ms-icon-feature wow flipInX animation-delay-4">
                <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                    <i class="fa fa-mobile"></i>
                  </span>
                </div>
                <div class="ms-icon-feature-content color-white">
                  <h4 class="color-info">Mobile App</h4>
                  <p>Maximize a eficiencia de seus produtos e tire o melhor proveito deles em conjunto com a crescente tendencia do uso de smartphones.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="ms-icon-feature wow flipInX animation-delay-4">
                <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                    <i class="fa fa-handshake-o"></i>
                  </span>
                </div>
                <div class="ms-icon-feature-content color-white">
                  <h4 class="color-info">OmniChannel</h4>
                  <p>Atinja o máximo da interação com seus clientes utilizando todos os canais disponíveis com a mesma sincronia.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="ms-icon-feature wow flipInX animation-delay-4">
                <div class="ms-icon-feature-icon">
                  <span class="ms-icon ms-icon-lg ms-icon-inverse ms-icon-white">
                    <i class="fa fa-phone"></i>
                  </span>
                </div>
                <div class="ms-icon-feature-content color-white">
                  <h4 class="color-info">Telecom</h4>
                  <p>Personalize sua comunicação com opções de gestão customizaveis, obtenha relatórios, gravações e muito mais.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
 </th:block>