<th:block th:fragment="future">	
	<section id="services" class="mt-6">
          <div class="wrap ms-hero-img-city2 ms-hero-bg-dark-light color-white ms-bg-fixed">
            <div class="container">
              <div class="text-center mb-4">
                <h1 class="color-warning wow zoomInDown">Futuro</h1>
                <h3 class="wow zoomInDown">Conheça e se surpreenda !</h3>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3 class="wow fadeInUp animation-delay-2">Desenvolvimento distribuído</h3>
                  <p class="wow fadeInUp animation-delay-3">O desenvolvimento distribuído da BloWMind conta com um,
                    <strong>ambiente integrado </strong>de gestão de pessoas e projetos, com todas as ferramentas necessárioas para o acompanhamento passo a passo do que está acontecendo com o projeto em tempo real. Todas as ferramentas usadas para o desenvolvimento convergem para indicativos de controle específicos de cada projeto, de forma a garantir qualidade e entrega com todas as conformidades. </p>
                  <p class="wow fadeInUp animation-delay-4">Usamos as mais confiáveis metodologias de controle e gestão para atingir os objetivos do seu negócio de forma clara e simples
                    <a href="#" class="color-warning">focando em soluções e maximização de resultados,</a> temos como objetivo a criação de uma relação não só cliente e fornecedor, mas sim de parceiros.</p>
                </div>
                <div class="col-md-6">
                  <div class="panel-group ms-collapse color-dark" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-info wow fadeInUp animation-delay-2">
                      <div class="panel-heading" role="tab" id="headingOne2">
                        <h4 class="panel-title">
                          <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                            <i class="fa fa-lightbulb-o"></i> Talento e criatividade </a>
                        </h4>
                      </div>
                      <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="panel-body in">
                          <p>Como nossos desenvolvedores estão distribuídos em várias partes do Brasil e do mundo, sempre podemos contar com novas experiencias, e sugestões de novas tecnologias e abordagens.</p>
                          <p>O talento e a criatividade é imprescindível, por isto contamos com intensa troca de informações entre os recursos para que possam cada vez mais compartilhar talento e expirar criatividade.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-info wow fadeInUp animation-delay-5">
                      <div class="panel-heading" role="tab" id="headingTwo2">
                        <h4 class="panel-title">
                          <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                            <i class="fa fa-desktop"></i> Design e inovação </a>
                        </h4>
                      </div>
                      <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                        <div class="panel-body">
                          <p>Acreditamos na inovação sem perder a beleza, a praticidade e o controle, e também na importancia do design para que a sua idéia seja aceita com os melhores olhos do mercado.</p>
                          <p>Apostamos na inovação para oferecer praticidade e eficácia, de forma simples e direta, facilitando a gestão e maximizando sempre a experiência dos usuários.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-info wow fadeInUp animation-delay-7">
                      <div class="panel-heading" role="tab" id="headingThree3">
                        <h4 class="panel-title">
                          <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                            <i class="fa fa-user"></i> Qualidade e suporte </a>
                        </h4>
                      </div>
                      <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                        <div class="panel-body">
                          <p>Seguimos rígidos padrões de qualidade com extensos casos de testes de forma minimizar a necessidade de suporte e desta forma extrair ao máximo as vantagens do produto, sem impactos na produção.</p>
                          <p>A partir disto, nosso suporte é especialista nas soluções, com atendimento individualizado através de um sistema robusto e simples, para que não haja ou surpresas na manutenção dos produtos.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</th:block>