<th:block th:fragment="solutions">
	<div class="bg-light">
      <div class="container" id="intro-next">
          <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Conheça nossas soluções</h2>
          <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Soluções criadas especialmente para o seu negócio,
            <span class="color-primary">com foco na qualidade</span>,escalabilidade e rapidez</p>
          <div class="row">
            <div class="col-md-3">
              <div class="card card-info animated zoomInUp animation-delay-5">
                <div class="bg-info">
                  <img src="assets/img/logo_otrs.png" alt="..." class="img-avatar-circle"/> </div>
                <div class="card-block pt-4 text-center">
                  <h4 class="color-info">OTRS</h4>
                  <p>Um poderoso conjunto de ferramentas para o gerenciamento de processos..</p>
                  <a href="javascript:void(0)" class="btn btn-info">
                    <i class="zmdi zmdi-star"></i> Saiba mais</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card card-danger animated zoomInUp animation-delay-6">
                <div class="bg-danger">
                  <img src="assets/img/mobile.png" alt="..." class="img-avatar-circle"/> </div>
                <div class="card-block pt-4 text-center">
                  <h4 class="color-danger">Mobile App</h4>
                  <p>Coloque suas soluções nas mãos dos seus clientes com uma aplicação mobile exclusiva..</p>
                  <a href="javascript:void(0)" class="btn btn-danger">
                    <i class="zmdi zmdi-star"></i> Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card card-warning animated zoomInUp animation-delay-7">
                <div class="bg-warning">
                  <img src="assets/img/software.png" alt="..." class="img-avatar-circle"/> </div>
                <div class="card-block pt-4 text-center">
                  <h4 class="color-warning">Software House</h4>
                  <p>Integre seu negócio com uma aplicação WEB e tenha o controle de qualquer lugar.</p>
                  <a href="javascript:void(0)" class="btn btn-warning">
                    <i class="zmdi zmdi-star"></i> Saiba Mais</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card card-success animated zoomInUp animation-delay-8">
                <div class="bg-success">
                  <img src="assets/img/omnichanel.png" alt="..." class="img-avatar-circle"/> </div>
                <div class="card-block pt-4 text-center">
                  <h4 class="color-success">Omnichannel</h4>
                  <p>A imersão do seu cliente ao mundo on-line, integrando todos os seus canais de comunicação.</p>
                  <a href="javascript:void(0)" class="btn btn-success">
                    <i class="zmdi zmdi-star"></i> Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
</th:block>