<th:block th:fragment="talents">			
	<section id="services" class="mt-6">
          <div class="ms-hero-img-keyboard ms-hero-bg-dark-light color-white ms-bg-fixed">
           <div class="container">
        	<div class="mt-6 color-dark">
                <h2 class="color-white text-center mb-4 wow fadeInUp animation-delay-2">No dia a dia...</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-royal card-block text-center wow zoomInUp animation-delay-2">
                      <h2 class="counter">4512</h2>
                      <i class="color-royal fa fa-4x fa-coffee"></i>
                      <p class="mt-2 no-mb lead small-caps">Xícaras de café</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-danger card-block text-center wow zoomInUp animation-delay-4">
                      <h2 class="counter">306</h2>
                      <i class="color-danger fa fa-4x fa-comments-o"></i>
                      <p class="mt-2 no-mb lead small-caps">Reuniões</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-success card-block text-center wow zoomInUp animation-delay-5">
                      <h2 class="counter">24</h2>
                      <i class="color-success fa fa-4x fa-briefcase"></i>
                      <p class="mt-2 no-mb lead small-caps">Projetos concluídos</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-warning card-block text-center wow zoomInUp animation-delay-3">
                      <h2 class="">&plusmn;3500</h2>
                      <i class="color-warning fa fa-4x fa-group"></i>
                      <p class="mt-2 no-mb lead small-caps">Usuários satisfeitos</p>
                    </div>
                  </div>
                </div>
                <div class="text-center color-white mw-800 center-block mt-4">
                  <p class="lead lead-lg wow fadeInUp animation-delay-2">Que tal vir fazer parte da equipe de colaboradores BloWMind e ajudar a construir histórias que realmente fazem a diferença!.</p>
                  <a href="/recruit" class="btn btn-raised btn-xlg btn-info wow flipInX animation-delay-5">
                    <i class="fa fa-space-shuttle"></i> Mostre me como...</a>
                </div>
              </div>
            </div>
          </div>
       </section>
</th:block>