<th:block th:fragment="technologys">		
	<div class="bg-light container">
        <h1 class="font-light">Technology that brings teams together</h1>
        <p class="lead color-primary">— Inteligencia aplicada a tecnologia mantendo seu time sempre junto. </p>
        <div class="panel panel-light panel-flat">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-5" role="tablist">
            <li class="wow fadeInDown animation-delay-6 active" role="presentation">
              <a href="#devops" aria-controls="devops" role="tab" data-toggle="tab" class="withoutripple">
                <i class="fa fa-keyboard-o"></i>
                <span class="hidden-xs">DevOps</span>
              </a>
            </li>
            <li class="wow fadeInDown animation-delay-4" role="presentation">
              <a href="#nuvem" aria-controls="nuvem" role="tab" data-toggle="tab" class="withoutripple">
                <i class="fa fa-cloud"></i>
                <span class="hidden-xs">Núvem (Cloud)</span>
              </a>
            </li>
            <li class="wow fadeInDown animation-delay-2" role="presentation">
              <a href="#telefonia" aria-controls="telefonia" role="tab" data-toggle="tab" class="withoutripple">
                <i class="fa fa-phone"></i>
                <span class="hidden-xs">Telecom</span>
              </a>
            </li>
            <li class="wow fadeInDown animation-delay-4" role="presentation">
              <a href="#android" aria-controls="android" role="tab" data-toggle="tab" class="withoutripple">
                <i class="zmdi zmdi-android"></i>
                <span class="hidden-xs">Android</span>
              </a>
            </li>
            <li class="wow fadeInDown animation-delay-6" role="presentation">
              <a href="#ios" aria-controls="ios" role="tab" data-toggle="tab" class="withoutripple">
                <i class="zmdi zmdi-apple"></i>
                <span class="hidden-xs">IOS</span>
              </a>
            </li>
          </ul>
          <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content mt-4">
              <div role="tabpanel" class="tab-pane active in fade" id="devops">
                <div class="row">
                  <div class="col-md-6 col-md-push-6">
                    <img src="assets/img/tecnologis.png" alt="" class="img-responsive animated zoomIn animation-delay-8"/> </div>
                  <div class="col-md-6 col-md-pull-6">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                    <p class="lead lead-md animated fadeInUp animation-delay-6">Nossos Profissionais são treinados e qualificados para realizar sua entrega de forma ágil e segura, 
                    																utilizamos metodologias e processos que garantem a união entre o desenvolvimento e a operacionalização de sua solução. 
                    																Entendemos a entrega de forma única e não segmentada, 
                    																trabalhamos unidos e entregamos juntos como você!.</p>
                    <div class="">
                      <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10">
                        <i class="zmdi zmdi-info"></i> Saiba mais</a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="nuvem">
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/img/cloud.png" alt="" class="img-responsive wow animated zoomIn animation-delay-8"/> </div>
                  <div class="col-md-6">
                    <h3 class="text-normal wow animated fadeInUp animation-delay-4">Make ideas to converge</h3>
                    <p class="lead lead-md  wow animated fadeInUp animation-delay-6">É uma verdade que o mundo globalizado se comunica de maneira diversas, celulares, tables, computadores e até cameras de vídeo estão cada vez se conectando e compartilhando informações.</p>
                    					E as empresas mais preparadas para o futuro, que a troca de informações com o cliente ou com seu time de talentos seja feita de maneira dinâmica e precisa, com baixo custo e alta escalabilidade.
                    <div class="">
                      <a href="javascript:void(0)" class="btn btn-info btn-raised wow animated zoomIn animation-delay-10">
                        <i class="zmdi zmdi-info"></i> Saiba mais</a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="telefonia">
                <div class="row">
                  <div class="col-md-6 col-md-push-6">
                    <img src="assets/img/telephone.png" alt="" class="img-responsive animated zoomIn animation-delay-8"/> </div>
                  <div class="col-md-6 col-md-pull-6">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">All together side by side</h3>
                    <p class="lead lead-md animated fadeInUp animation-delay-6">Plataformas de comunicações para contact center e outros ramos já são uma realidade viável de contato com seus clientes como uma forma de manter o relacionamento.</p>
                    <p class="lead lead-md animated fadeInUp animation-delay-7">Estamos a cada dia criando elementos novos e melhores de levar esta experiência para sua empresa de forma simples e com custo reduzido.</p>
                    <div class="">
                      <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10">
                        <i class="zmdi zmdi-info"></i> Saiba mais</a>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="android">
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/img/android.png" alt="" class="img-responsive animated zoomIn animation-delay-8"/> </div>
                  <div class="col-md-6">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">Carry your busines on your pocket</h3>
                    <p class="lead lead-md  animated fadeInUp animation-delay-6">Um dos sistemas operacionais para dispositivos móveis mais usados no mundo, se tornou uma das mais importantes formas de mobilidade hoje.</p>
                    Diversos ramos de negócios e até jogos digitais podem contar com App´s exclusívos, personalizados e direcionados de forma a garantir que você tenha o que quer logo alí, no seu bolso.
                    <div class="">
                      <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10">
                        <i class="zmdi zmdi-info"></i> Saiba mais</a>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="ios">
                <div class="row">
                  <div class="col-md-6 col-md-push-6">
                    <img src="assets/img/ios.png" alt="" class="img-responsive animated zoomIn animation-delay-8"/> </div>
                  <div class="col-md-6 col-md-pull-6">
                    <h3 class="text-normal animated fadeInUp animation-delay-4">Beauty and confidence to always within reach </h3>
                    <p class="lead lead-md animated fadeInUp animation-delay-6">Além da beleza de seu design, o IOS é um sistema operacional para aparelhos móveis que oferece confiança e robustez para inúmeras necessidades.</p>
                    Diversos ramos de negócios e até jogos digitais podem contar com App´s exclusívos, personalizados e direcionados de forma a garantir que você tenha o que quer sempre ao alcance.
                    <div class="">
                      <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10">
                        <i class="zmdi zmdi-info"></i> Saiba mais</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </th:block>