<th:block th:fragment="footer">
	<aside class="ms-footbar">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ms-footer-col">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Sitemap</h3>
                <ul class="list-unstyled ms-icon-list three_cols">
                  <li>
                    <a href="index.html">
                      <i class="zmdi zmdi-home"></i> Home</a>
                  </li>
                  <li>
                    <a href="page-blog.html">
                      <i class="zmdi zmdi-image-o"></i> Portfolio</a>
                  </li>
                  <li>
                    <a href="portfolio-filters_sidebar.html">
                      <i class="zmdi zmdi-case"></i> Trabalhos</a>
                  </li>
                  <li>
                    <a href="page-timeline_left2.html">
                      <i class="zmdi zmdi-time"></i> Timeline</a>
                  </li>
                  <li>
                    <a href="page-about.html">
                      <i class="zmdi zmdi-favorite-outline"></i> Sobre Nós</a>
                  </li>
                  <li>
                    <a href="page-team2.html">
                      <i class="zmdi zmdi-accounts"></i> Nosso time</a>
                  </li>
                  <li>
                    <a href="page-services.html">
                      <i class="zmdi zmdi-face"></i> Serviços</a>
                  </li>
                  <li>
                    <a href="page-faq2.html">
                      <i class="zmdi zmdi-help"></i> FAQ</a>
                  </li>
                  <li>
                    <a href="page-login2.html">
                      <i class="zmdi zmdi-lock"></i> Login</a>
                  </li>
                  <li>
                    <a href="page-contact.html">
                      <i class="zmdi zmdi-email"></i> Contato</a>
                  </li>
                </ul>
              </div>
              <div class="ms-footbar-block">
                <h4 class="ms-footbar-title">Cadastre-se</h4>
               Cadastre-se em nossa newsletter.
                <form>
                  <div class="form-group label-floating mt-2 mb-1">
                    <div class="input-group ms-input-subscribe">
                      <label class="control-label" for="ms-subscribe">
                        <i class="zmdi zmdi-email"></i> Email</label>
                      <input type="email" id="ms-subscribe" class="form-control"/> 
                       <button class="ms-subscribre-btn" type="button">Cadastrar</button>
                    </div>
                  </div>
                 
                </form>
              </div>
            </div>
            
            <div class="col-md-4 ms-footer-col">
              <div class="ms-footbar-block">
                <div class="ms-footbar-title">
                  <span class="ms-logo ms-logo-white ms-logo-sm mr-1">M</span>
                  <h3 class="no-m ms-site-title">BloW
                    <span>Mind</span>
                  </h3>
                </div>
                <address class="no-mb">
                  <p>
                    <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Rua das Acácias, 358</p>
                  <p>
                    <i class="color-danger-light zmdi zmdi-pin mr-1"></i>Cidade Jardim</p>
                  <p>
                    <i class="color-warning-light zmdi zmdi-map mr-1"></i> Uberlândia - MG</p>
                  <p>
                    <i class="color-info-light zmdi zmdi-email mr-1"></i>
                    <a href="mailto:joe@example.com">contato@blowmindsolutions.com.br</a>
                  </p>
                  <p>
                    <i class="color-royal-light zmdi zmdi-phone mr-1"></i>(34) 3211-2846 </p>
                  <p>
                    <i class="color-success-light fa fa-fax mr-1"></i>(34) 99112-7338 </p>
                </address>
              </div>
              
            </div>
             <div class="col-md-4  ms-footer-col ms-footer-text-right">
	             <div class="ms-footbar-block">
	                <h3 class="ms-footbar-title">Social Media</h3>
	                <div class="ms-footbar-social">
	                  <a href="javascript:void(0)" class="btn-circle btn-facebook">
	                    <i class="zmdi zmdi-facebook"></i>
	                  </a>
	                  <a href="javascript:void(0)" class="btn-circle btn-twitter">
	                    <i class="zmdi zmdi-twitter"></i>
	                  </a>
	                  <a href="javascript:void(0)" class="btn-circle btn-youtube">
	                    <i class="zmdi zmdi-youtube"></i>
	                  </a>
	                  <br/>
	                  <a href="javascript:void(0)" class="btn-circle btn-google">
	                    <i class="zmdi zmdi-google"></i>
	                  </a>
	                  <a href="javascript:void(0)" class="btn-circle btn-instagram">
	                    <i class="zmdi zmdi-instagram"></i>
	                  </a>
	                  <a href="javascript:void(0)" class="btn-circle btn-github">
	                    <i class="zmdi zmdi-github"></i>
	                  </a>
	                </div>
	              </div>
             </div>
          </div>
        </div>
      </aside>
      <footer class="ms-footer">
        <div class="container">
          <p>Copyright &copy; BlowMind 2017</p>
        </div>
      </footer>
      <div class="btn-back-top">
        <a href="#" data-scroll="" id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div>

</th:block>