	<th:block th:fragment="menu">
	
	<nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-primary">
        <div class="container container-full">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
              <span class="ms-logo ms-logo-sm">WM</span>
              <span class="ms-title">BloW
                <strong>Mind</strong>
              </span>
            </a>
          </div>
		  <div id="navbar" class="navbar-collapse collapse">
		   <ul class="nav navbar-nav">
              <li class="dropdown active">
               
                <a href="#" class="dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" data-name="home">A BloWMind
                  <i class="zmdi zmdi-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
	                <li>
	                	 <a href="component-typography.html">
	                   <i class="glyphicon glyphicon-road"></i> Objetivos</a>
	                </li>
	                <li>
	                  <a href="component-headers.html">
	                    <i class="glyphicon glyphicon-heart"></i> Valores</a>
	                </li>
	                <li>
	                  <a href="component-dividers.html">
	                    <i class="glyphicon glyphicon-king"></i> Missão</a>
	                </li>
                 </ul>
             </li>
                <li class="dropdown">
               <a href="#" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component">Distributed Develop
                  <i class="zmdi zmdi-chevron-down"></i>
               </a>
                <ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x">
               		<li>
	                  <a href="component-dividers.html">
	                    <i class="glyphicon glyphicon-education"></i> Conhecimento distribuído</a>
	                </li>
	                <li>
	                  <a href="component-dividers.html">
	                    <i class="glyphicon glyphicon-flash"></i> Desenvolvimento ágil</a>
	                </li>
	                <li>
	                  <a href="component-dividers.html">
	                    <i class="glyphicon glyphicon-signal"></i> Metodologias funcionais</a>
	                </li>
               	</ul>
               	</li>
               <li class="dropdown">
               <a href="#" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component">Soluções
                  <i class="zmdi zmdi-chevron-down"></i>
               </a>
                <ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x">     
                	<li>
                       <a href="/otrs">
                        <i class="glyphicon glyphicon-retweet"></i> OTRS</a>
                    </li>
                    <li>
                        <a href="component-icons-fontawesome.html">
                         <i class="glyphicon glyphicon-eye-open"></i> Machine Learn</a>
                    </li>
                    <li>
                         <a href="component-icons-iconic.html">
                         <i class="glyphicon glyphicon-screenshot"></i> ASGI- Ahead</a>
                     </li>
                   </ul>
                 </li>
                 <li class="dropdown">
               		<a href="#" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component">Contato
                  		<i class="zmdi zmdi-chevron-down"></i>
               		</a>
                	<ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x"> 
                 <li>
                   <a href="/contact">
                     <i class="glyphicon glyphicon-envelope"></i> Entre em contato</a>
                 </li>
                 <li>
                   <a href="/recruit">
                     <i class="glyphicon glyphicon-wrench"></i> Trabalhe conosco</a>
                 </li>
               </ul>
              </li>
              </ul>
          </div>
        </div>
        <!-- container -->
      </nav>
      </th:block>