<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#333"/>
	     <title>BloWMind</title>
    <meta name="description" content="BloWMind Web Makers"/>
    <link rel="shortcut icon" href="assets/img/favicon30f4.png?v=3"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="assets/css/preload.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/style.light-blue-500.min.css" />
    
    <link rel="stylesheet" href="assets/css/width-boxed.min.css" id="ms-boxed" disabled=""/>
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
  <body>
   
      <!-- Modal login-->
      <th:block th:replace="/default/loginModal :: loginModal"/>
      <!-- header -->
      <!--<th:block th:replace="/default/header :: header"/>-->
      <!--<th:block th:replace="/default/menu :: menu"/> -->
     	<th:block th:replace="/default/alternative :: alternative"/>
     	<br/><br/><br/>
     
     <!-- Body -->
     <th:block th:replace="/fragments/index/first :: first"/>
     <th:block th:replace="/fragments/index/solutions :: solutions"/>
     <th:block th:replace="/fragments/index/future :: future"/>
     <th:block th:replace="/fragments/index/technologys :: technologys"/>
     <th:block th:replace="/fragments/index/talents :: talents"/>
     <!--<th:block th:replace="/fragments/index/clients :: clients"/>-->
 
       <!-- footer -->
      <th:block th:replace="/default/footer :: footer"/>
      
      
    
    <!-- sb-site-container -->
    
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/configurator.min.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>