<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#333"/>
	     <title>BloWMind</title>
    <meta name="description" content="BloWMind Web Makers"/>
    <link rel="shortcut icon" href="assets/img/favicon30f4.png?v=3"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="assets/css/preload.min.css" />
    <link rel="stylesheet" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/width-boxed.min.css" id="ms-boxed" disabled=""/>
    <link rel="stylesheet" href="assets/css/style.light-blue-500.min.css" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
  <body>
   
      <!-- Modal login-->
      <th:block th:replace="/default/loginModal :: loginModal"/>
      <!-- header -->
      <th:block th:replace="/default/alternative :: alternative"/>
	  <br/><br/><br/>
          <div class="container">
 			<div class="row">
               <div class="col-xs-12">
                 <div class="card card-primary">
                   <div class="row">
                     <div class="col-lg-6">
                       <div class="card-block">
                         <img src="assets/img/process.png" alt="" class="img-responsive"/> </div>
                     </div>
                     <div class="col-lg-6">
                     <div class="card-block">
                         <h4 class="color-royal">Análise e gestão de processos</h4>
                         <p>Com foco na melhoria da comunicação e aderencia entre áreas da empresa, o mapeamento, controle da implatação e cumprimento dos processos estabelecidos se torna essecial para o sucesso dos negócios, identificando problemas e falhar encontradas, e propondo
                         soluções com uso de ferramentas específicas para a melhoria ou implantação de processos necessários, de modo a agregar mais valor a atividade.</p>
                         <p>A diminuição de custo e tempo de produção, eliminação de atasos em entregas e documentação dos passos da operação são algumas das vantagens que um processo bem definido e implementado da maneira correta podem oferecer.
                         desta forma, facilitando as estratégias do negócio e colocando os objetivos visivelmente ao alcance.</p>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-lg-6 col-lg-push-6">
                       <div class="card-block">
                         <img src="assets/img/tools.png" alt="" class="img-responsive"/> </div>
                     </div>
                     <div class="col-lg-6 col-lg-pull-6">
                       <div class="card-block">
                         <h4 class="color-warning">Ferramentas</h4>
                         <p>O OTRS é uma ferramenta completa, versátil, super estruturada e integrável para atender todos as necessidades da gestão de processo internos e externos.</p>
                         A ferramenta conta com interface web feita de maneira mais amigável, e diferentes funcionalidades são implementadas como módulos de back-end reutilizáveis​​, tornando possível a criação de módulos personalizados para estender a funcionalidade do sistema.
                         <p>A escalabilidade dos sistemas OTRS pode ser aumentada permitindo um grande número de agentes trabalhando simultaneamente e altos volumes de tickets. Podendo também ser integrado a diversas
                         ferramentas disponibilizando maior automatização dos processos e grande número de informações sobre variados aspectos.</p>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
      </div>
      
      
	<!-- footer -->
    <th:block th:replace="/default/footer :: footer"/>
    
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/configurator.min.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>