<th:block th:fragment="recruit">		
        <div class="container">
        	<div class="row">
		        <div class="col-md-5 col-md-push-7">
		            <div class="card card-primary animated fadeInUp animation-delay-7">
		              <div class="card-block">
		                <h4 class="color-primary text-center">Informações</h4>
		                
		                	<ol class="service-list list-unstyled">
			                    <li>Todas as vagas são para trabalho em regime de Home Office, sendo que o candidato deve estar preparado para trabalhar desta forma e deve ter computador com internet.</li>
			                    <li>Caso tenha sido indicado, o candidato deve informar o nome completo da pessoa que fez a indicação no campo observações.</li>
			                    <li>Todo o processo de seleção será realizado on-line, por videochamada, o candidado tever ter uma webcam e microfone a disposição</li>
			                    <li>O candidato deve ter disponibilidade para trabalhar 44 horas semanais, com horario flexível porém de forma a cuprir a carga horaria</li>
			                    <li>O candidato deve ter disponibilidade para possíveis viagens, em visita ao cliente ou outros eventos que a empresa possa necessitar.</li>
			                  </ol>
		              </div>
		            </div>
		          </div>
		           <br/><br/><br/><br/>
			      <div class="col-md-7 col-md-pull-5">
			         <div class="card card-primary card-hero animated fadeInUp animation-delay-7">
			          <div class="card-block">
			            <form class="form-horizontal" method="POST" enctype="multipart/form-data" th:object="${recruitDataVM}">
			            <div class="alert alert-primary alert-dismissible" th:text="${message}" th:if="${not #strings.isEmpty(message)}">
						</div>
			              <fieldset>
			              	<h4 class="color-primary text-center">Leia atentamente as informações ao lado antes de cadastrar seu curriculo</h4>
			                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
			                  <label for="inputName" class="col-md-2 control-label">Nome</label>
			                  <div class="col-md-6">
			                    <input type="text" name="name" th:field="*{name}" th:if="${recruitDataVM}" th:value="${recruitDataVM.name}" class="form-control" id="inputName" placeholder="Nome Completo"/>
			                    <p class="color-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</p></div>
			                </div>
			                <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
			                  <label for="inputEmail" class="col-md-2 control-label">Email</label>
			                  <div class="col-md-6">
			                    <input type="email" name="email" th:field="*{email}" th:if="${recruitDataVM}" th:value="${recruitDataVM.email}" class="form-control" id="inputEmail" placeholder="Email"/> 
								<p class="color-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</p></div>
			                </div>
			                <div class="form-group" th:classappend="${#fields.hasErrors('telephone')} ? has-error">
			                  <label for="inputLast" class="col-md-2 control-label">Telefone</label>
			                  <div class="col-md-6">
			                    <input type="text" name="telephone" th:field="*{telephone}" th:if="${recruitDataVM}" th:value="${recruitDataVM.telephone}" class="form-control" id="inputLast" data-mask="(99) 99999-9999" placeholder="Telefone"/>
			                    <p class="color-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">telephone Error</p></div>
			                </div>
			                <div class="form-group">
			                  <label for="inputGen" class="col-md-2 control-label">Sexo</label>
			                  <div class="col-md-6">
			                    <select id="inputGen" name="gender" class="form-control selectpicker">
			                    	<option>-</option>
			                      <option value="Masculino">Masculino</option>
			                      <option value="Feminino">Feminino </option>
			                    </select>
			                  </div>
			                </div>
			                <div class="form-group warn" th:classappend="${#fields.hasErrors('birthdate')} ? has-error">
			                  <label for="inputDate" class="col-md-2 control-label">Nascimento</label>
			                  <div class="col-md-6">
			                    <input type="date" name="birthdate" th:field="*{birthdate}" th:if="${recruitDataVM}" th:value="${recruitDataVM.birthdate}" class="form-control" id="inputDate" placeholder="Data de nascimento"/> 
			                    <p class="color-danger" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">birthdate Error</p></div>
			                </div>
			                <div class="form-group">
			                  <label for="inputDate" class="col-md-2 control-label">Cargo</label>
			                  <div class="col-md-6">
			                    <select id="inputGen" name="position" class="form-control selectpicker">
			                      <option value="Outro">Outro </option>
			                      <option value="Scrum Master">Scrum Master</option>
			                      <option value="Desenvolvedor Java">Desenvolvedor Java </option>
			                      <option value="Desenvolvedor Front-End">Desenvolvedor Front-End </option>
			                      <option value="Desenvolvedor Mobile">Desenvolvedor Mobile </option>
			                      <option value="Desenvolvedor Perl">Desenvolvedor Perl </option>
			                      <option value="Desenvolvedor Pyton">Desenvolvedor Pyton </option>
			                      <option value="Arquiteto de software">Arquiteto de software </option>
			                      <option value="Analista de requisitos">Analista de requisitos </option>
			                      <option value="Analista de processos">Analista de processos </option>
			                    </select>
			                  </div>
			                </div>
			                <div class="form-group">
		                      <label for="textArea" class="col-md-2 control-label">Observações</label>
		                      <div class="col-md-9">
		                        <textarea name="text" th:field="*{text}" th:if="${recruitDataVM}" th:value="${recruitDataVM.text}" class="form-control" rows="5" id="textArea" placeholder="Observações..."></textarea>
		                      </div>
		                    </div>
			                <div class="form-group">
			                	<label for="inputDate" class="col-md-2 control-label">Curriculo</label>
			                	<div class="col-md-6">
							    	<input type="text" name="anexo" class="form-control" id="uploadFile" placeholder="Anexe seu curriculo" readonly="true" />
							    </div>
							    	<i class="material-icons">attach_file</i><input name="archive" type="file" id="uploadBtn"/>
			               	</div>
			                <div class="row">
			                  <div class="col-md-4 col-md-offset-8">
			                    <button class="btn btn-raised btn-primary btn-block mt-4" id="submit" type="submit">Enviar</button>
			                  </div>
			                </div>
			                
			              </fieldset>
			            </form>
			            
			          </div>
			        </div>
			        <!-- container -->
			      </div>
      		</div>
      	</div>
      <script>
	      document.getElementById("uploadBtn").onchange = function () {
	    	    document.getElementById("uploadFile").value = this.files[0].name;
	    	};
	    	
	    	
      </script>
      
      
 </th:block>